# Dépendances locales
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build local Vite
dist

# Données locales / mock
data
mock-api


# Git
.git
.gitignore

# IDE / éditeurs
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Tests / coverage
coverage

# Logs
*.log
